api-nodered/flows.json
[{"id":"840746e1.75f1a8","type":"tab","label":"Twitter","disabled":false,"info":""},{"id":"29609aca.d69f66","type":"tab","label":"USGS Earthquake Monitor","disabled":true,"info":""},{"id":"34e8904e.d64688","type":"subflow","name":"Generic Stream","info":"","category":"","in":[{"x":152,"y":193,"wires":[{"id":"18fd989a.e410df"},{"id":"555a5ace.15fcd4"}]}],"out":[]},{"id":"d41fb815.58cf98","type":"twitter-credentials","z":"","screen_name":"gautric_io"},{"id":"4ba62d88.4c0ca4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"3a432327.4e678c","type":"websocket-listener","z":"","path":"/ws/generic","wholemsg":"true"},{"id":"16616712.e99e99","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"c7b60b77.321818","type":"twitter in","z":"840746e1.75f1a8","twitter":"d41fb815.58cf98","tags":"a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z","user":"false","name":"","inputs":1,"x":123,"y":102,"wires":[["ac4e5d0b.5eecc"]]},{"id":"ac4e5d0b.5eecc","type":"function","z":"840746e1.75f1a8","name":"msg.tweet.user.geo_enabled","func":"if(msg.tweet.coordinates) return msg;","outputs":1,"noerr":0,"x":231,"y":203,"wires":[["f2078d55.24581"]]},{"id":"a9ecfe6f.5613","type":"http request","z":"29609aca.d69f66","name":"","method":"GET","ret":"txt","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.csv","x":306.0000305175781,"y":146.22222900390625,"wires":[["86781b39.7987e8"]]},{"id":"cc40789.f33bf88","type":"inject","z":"29609aca.d69f66","name":"/1'","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":305.3333740234375,"y":51.88890838623047,"wires":[["a9ecfe6f.5613"]]},{"id":"3bb724f.fc448dc","type":"function","z":"29609aca.d69f66","name":"USGS Quake monitor Strip Disinteresting Data","func":"//node.warn(msg.payload);\n// \"time\", \"latitude\", \"longitude\", \"depth\", \"mag\", \"magType\", \"nst\", \"gap\", \"dmin\", \"rms\", \"net\", \"id\", \"updated\", \"place\", \"type\" \nvar out = {};\n\nif (msg.payload.depth) delete(msg.payload.depth);\nif (msg.payload.nst) delete(msg.payload.nst);\nif (msg.payload.gap) delete(msg.payload.gap);\nif (msg.payload.dmin) delete(msg.payload.dmin);\nif (msg.payload.magType) delete(msg.payload.magType);\nif (msg.payload.id) delete(msg.payload.id);\nif (msg.payload.updated) delete(msg.payload.updated);\nif (msg.payload.rms) delete(msg.payload.rms);\nif (msg.payload.net) delete(msg.payload.net);\nreturn [ msg ];","outputs":"1","noerr":0,"x":305.77783203125,"y":339.4444580078125,"wires":[["4093257d.aa95fc"]]},{"id":"86781b39.7987e8","type":"csv","z":"29609aca.d69f66","name":"CSV to JSON","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"\"time\", \"latitude\", \"longitude\", \"depth\", \"mag\", \"magType\", \"nst\", \"gap\", \"dmin\", \"rms\", \"net\", \"id\", \"updated\", \"place\", \"type\" ","x":300.888916015625,"y":239.4444580078125,"wires":[["3bb724f.fc448dc"]]},{"id":"18fd989a.e410df","type":"websocket out","z":"34e8904e.d64688","name":"Websocket Up","server":"3a432327.4e678c","client":"","x":455,"y":193,"wires":[]},{"id":"890f3178.7105a8","type":"subflow:34e8904e.d64688","z":"840746e1.75f1a8","name":"","x":373.72235107421875,"y":403.4444580078125,"wires":[]},{"id":"555a5ace.15fcd4","type":"debug","z":"34e8904e.d64688","name":"Debug","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","x":437,"y":258,"wires":[]},{"id":"f2078d55.24581","type":"change","z":"840746e1.75f1a8","name":"Transformation","rules":[{"t":"move","p":"tweet","pt":"msg","to":"message","tot":"msg"},{"t":"move","p":"message.coordinates","pt":"msg","to":"coordinates","tot":"msg"},{"t":"set","p":"type","pt":"msg","to":"twitter","tot":"str"},{"t":"move","p":"message.created_at","pt":"msg","to":"created_at","tot":"msg"},{"t":"move","p":"message.id","pt":"msg","to":"id","tot":"msg"},{"t":"move","p":"message.lang","pt":"msg","to":"lang","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":293.22222900390625,"y":304.1111145019531,"wires":[["890f3178.7105a8"]]},{"id":"5871f90.ef4c388","type":"subflow:34e8904e.d64688","z":"29609aca.d69f66","name":"","x":297.2221984863281,"y":620,"wires":[]},{"id":"4093257d.aa95fc","type":"change","z":"29609aca.d69f66","name":"Transform","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"move","p":"payload.time","pt":"msg","to":"created_at","tot":"msg"},{"t":"set","p":"coordinates.type","pt":"msg","to":"Point","tot":"str"},{"t":"move","p":"payload.type","pt":"msg","to":"type","tot":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":299.4444885253906,"y":433.3332824707031,"wires":[["8cb98d4f.f4bac8"]]},{"id":"8cb98d4f.f4bac8","type":"function","z":"29609aca.d69f66","name":"Filter","func":"\nmsg.coordinates.coordinates = [msg.payload.longitude, msg.payload.latitude];\n\nmsg.payload = \"Mag \" + msg.payload.mag + \", \" + msg.payload.place\n\nd1 = new Date(msg.created_at);\nd2 = Date.now();\n\ndiff = (d2 - d1)/60/1000;\n\nconsole.log(diff);\n\nif(diff < 2){\n    return msg;\n}","outputs":1,"noerr":0,"x":293.8889465332031,"y":524.4445190429688,"wires":[["5871f90.ef4c388"]]}]