api-nodered/flows.json
[{"id":"840746e1.75f1a8","type":"tab","label":"Twitter","disabled":false,"info":""},{"id":"29609aca.d69f66","type":"tab","label":"USGS Earthquake Monitor"},{"id":"34e8904e.d64688","type":"subflow","name":"Generic Stream","info":"","category":"","in":[{"x":152,"y":193,"wires":[{"id":"18fd989a.e410df"},{"id":"555a5ace.15fcd4"}]}],"out":[]},{"id":"d41fb815.58cf98","type":"twitter-credentials","z":"","screen_name":"gautric_io"},{"id":"4ba62d88.4c0ca4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"3a432327.4e678c","type":"websocket-listener","z":"","path":"/ws/generic","wholemsg":"true"},{"id":"16616712.e99e99","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"c7b60b77.321818","type":"twitter in","z":"840746e1.75f1a8","twitter":"d41fb815.58cf98","tags":"a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z","user":"false","name":"","inputs":1,"x":123,"y":102,"wires":[["ac4e5d0b.5eecc"]]},{"id":"ac4e5d0b.5eecc","type":"function","z":"840746e1.75f1a8","name":"msg.tweet.user.geo_enabled","func":"if(msg.tweet.coordinates) return msg;","outputs":1,"noerr":0,"x":363,"y":231,"wires":[["f2078d55.24581"]]},{"id":"a9ecfe6f.5613","type":"http request","z":"29609aca.d69f66","name":"","method":"GET","ret":"txt","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.csv","x":276,"y":54,"wires":[["86781b39.7987e8"]]},{"id":"66f14749.990eb8","type":"debug","z":"29609aca.d69f66","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":629.0000610351562,"y":265.9999694824219,"wires":[]},{"id":"cc40789.f33bf88","type":"inject","z":"29609aca.d69f66","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":92,"y":53,"wires":[["a9ecfe6f.5613"]]},{"id":"3bb724f.fc448dc","type":"function","z":"29609aca.d69f66","name":"USGS Quake monitor Strip Disinteresting Data","func":"//node.warn(msg.payload);\n// \"time\", \"latitude\", \"longitude\", \"depth\", \"mag\", \"magType\", \"nst\", \"gap\", \"dmin\", \"rms\", \"net\", \"id\", \"updated\", \"place\", \"type\" \nvar out = {};\n\nif (msg.payload.depth) delete(msg.payload.depth);\nif (msg.payload.nst) delete(msg.payload.nst);\nif (msg.payload.gap) delete(msg.payload.gap);\nif (msg.payload.dmin) delete(msg.payload.dmin);\nif (msg.payload.magType) delete(msg.payload.magType);\nif (msg.payload.id) delete(msg.payload.id);\nif (msg.payload.updated) delete(msg.payload.updated);\nif (msg.payload.rms) delete(msg.payload.rms);\nif (msg.payload.net) delete(msg.payload.net);\nreturn [ msg ];","outputs":"1","noerr":0,"x":308,"y":265,"wires":[["66f14749.990eb8"]]},{"id":"86781b39.7987e8","type":"csv","z":"29609aca.d69f66","name":"CSV to JSON","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"\"time\", \"latitude\", \"longitude\", \"depth\", \"mag\", \"magType\", \"nst\", \"gap\", \"dmin\", \"rms\", \"net\", \"id\", \"updated\", \"place\", \"type\" ","x":282,"y":165,"wires":[["3bb724f.fc448dc"]]},{"id":"18fd989a.e410df","type":"websocket out","z":"34e8904e.d64688","name":"Websocket Up","server":"3a432327.4e678c","client":"","x":455,"y":193,"wires":[]},{"id":"890f3178.7105a8","type":"subflow:34e8904e.d64688","z":"840746e1.75f1a8","name":"","x":785.7223510742188,"y":377.4444580078125,"wires":[]},{"id":"555a5ace.15fcd4","type":"debug","z":"34e8904e.d64688","name":"Debug","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","x":437,"y":258,"wires":[]},{"id":"f2078d55.24581","type":"change","z":"840746e1.75f1a8","name":"","rules":[{"t":"move","p":"tweet","pt":"msg","to":"message","tot":"msg"},{"t":"move","p":"message.coordinates","pt":"msg","to":"coordinates","tot":"msg"},{"t":"set","p":"type","pt":"msg","to":"twitter","tot":"str"},{"t":"move","p":"message.created_at","pt":"msg","to":"created_at","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":587.2222290039062,"y":311.1111145019531,"wires":[["890f3178.7105a8"]]}]